# ***E-Commerce Data Analysis Project***

Online Retail Dataset Analysis

ðŸ“Š Dataset Information
Dataset: Online Retail Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import kagglehub
path=kagglehub.dataset_download('vijayuv/onlineretail')

Using Colab cache for faster access to the 'onlineretail' dataset.

In [3]:
rdf=pd.read_csv('/kaggle/input/onlineretail/OnlineRetail.csv',encoding='ISO-8859-1')
rdf

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

**PART A: Initial Data Exploration**

In [4]:
#Task 1: Load the dataset and display basic information about its structure
rdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [5]:
#Task 2: Show the first 15 and last 15 records
rdf.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [6]:
rdf.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [7]:
#Task 3: Display a random sample of 20 transactions.
rdf.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
228181,556917,23241,TREASURE TIN GYMKHANA DESIGN,144,6/15/2011 13:37,1.85,12415.0,Australia
201381,554283,22386,JUMBO BAG PINK POLKADOT,10,5/23/2011 14:11,2.08,17686.0,United Kingdom
430863,573585,22950,SET OF 36 VINTAGE CHRISTMAS DOILIES,6,10/31/2011 14:41,2.92,NaN,United Kingdom
414482,572460,22139,RETROSPOT TEA SET CERAMIC 11 PC,6,10/24/2011 12:54,4.95,17001.0,United Kingdom
476992,577046,21731,RED TOADSTOOL LED NIGHT LIGHT,12,11/17/2011 13:46,1.65,12449.0,Belgium
481089,577337,22736,RIBBON REEL MAKING SNOWMEN,1,11/18/2011 14:51,1.65,15494.0,United Kingdom
211151,555347,23199,JUMBO BAG APPLES,10,6/2/2011 12:04,2.08,14389.0,United Kingdom
428328,573420,23437,50'S CHRISTMAS GIFT BAG LARGE,12,10/31/2011 9:48,1.25,18223.0,United Kingdom
305770,563710,85066,CREAM SWEETHEART MINI CHEST,2,8/18/2011 15:28,12.75,17742.0,United Kingdom
158380,550288,35924,HANGING FAIRY CAKE DECORATION,2,4/15/2011 14:21,2.10,17367.0,United Kingdom
512593,579512,35648,VINTAGE BEAD PINK PURSE,2,11/29/2011 16:47,1.63,NaN,United Kingdom
359150,568177,21811,HANGING HEART WITH BELL,48,9/25/2011 13:30,0.39,13536.0,United Kingdom
168167,551014,22197,SMALL POPCORN HOLDER,12,4/26/2011 11:04,0.85,13209.0,United Kingdom
533200,581019,84927F,PSYCHEDELIC TILE HOOK,12,12/7/2011 10:11,0.39,14794.0,United Kingdom
161867,550493,21669,BLUE STRIPE CERAMIC DRAWER KNOB,96,4/18/2011 14:50,1.06,15311.0,United Kingdom
372245,569234,22995,TRAVEL CARD WALLET SUKI,1,10/2/2011 15:33,0.42,17841.0,United Kingdom
518672,580115,84832,ZINC WILLIE WINKIE CANDLE STICK,1,12/1/2011 16:22,1.63,NaN,United Kingdom
193187,553521,22692,DOORMAT WELCOME TO OUR HOME,1,5/17/2011 14:35,0.00,NaN,United Kingdom
97772,544657,21212,PACK OF 72 RETROSPOT CAKE CASES,24,2/22/2011 13:08,0.55,14895.0,United Kingdom
426211,573346,79190D,RETRO PLASTIC DAISY TRAY,1,10/30/2011 12:18,0.42,17255.0,United Kingdom

In [8]:
#Task 4: Find out how many rows and columns are in the dataset.
rdf.shape

(541909, 8)

In [9]:
#Task 5: List all column names.
rdf.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [10]:
#Task 6: Check the data type of each column.
rdf.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [11]:
#Task 7: Get a statistical summary of all numerical columns.
rdf.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

**PART B: Data Quality Assessment**

In [12]:
#Task 8: Identify which columns have missing values and how many.
rdf.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [13]:
#Task 9: Find out how many transactions have missing CustomerID.
rdf['CustomerID'].isna().sum()

np.int64(135080)

In [14]:
#Task 10: Check if there are any duplicate rows in the dataset.
rdf.duplicated().sum()

np.int64(5268)

In [15]:
#Task 11: Identify transactions where Quantity is less than or equal to zero.
rdf[rdf['Quantity']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

In [16]:
#Task 12: Find transactions where UnitPrice is zero or negative.
rdf[rdf['UnitPrice'] <=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.0,NaN,United Kingdom

In [17]:
#Task 13: Identify how many invoice numbers start with the letter 'C'.
rdf[rdf['InvoiceNo'].str.startswith('C')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

In [18]:
rdf['InvoiceNo'].str.startswith('C').sum()

np.int64(9288)

In [19]:
#Task 14: Check if the Description column has any leading or trailing spaces.
(rdf['Description']!=rdf['Description'].str.strip()).sum()

np.int64(114906)

**PART C: Data Cleaning**

In [20]:
#Task 15: Remove all rows where CustomerID is missing.
rdf.dropna(subset=['CustomerID'])

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [21]:
#Task 16: For missing product descriptions, fill them with "Unknown Product".
miss=rdf['Description']=rdf['Description'].fillna('Unknown Product')
miss

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
                         ...
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 541909, dtype: object

In [22]:
rdf

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [23]:
#Task 17: Remove all duplicate transactions.
rdf.drop_duplicates()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [24]:
#Task 18: Remove transactions where Quantity is less than or equal to zero
rdf = rdf[rdf['Quantity'] > 0]
rdf

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [25]:
#Task 19: Remove transactions where UnitPrice is less than or equal to zero.
rdf[rdf['UnitPrice']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,Unknown Product,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,Unknown Product,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,Unknown Product,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,Unknown Product,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,Unknown Product,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
535334,581211,22142,check,14,12/7/2011 18:36,0.0,NaN,United Kingdom
536981,581234,72817,Unknown Product,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,Unknown Product,20,12/8/2011 14:06,0.0,NaN,United Kingdom

In [26]:
#Task 20: Remove all cancelled transactions (invoices starting with 'C').
rdf[rdf['InvoiceNo'].str.startswith('C')==False]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [27]:
#Task 21: Change the column name "Description" to "ProductName".
rdf.rename(columns={'Description':'ProductName'},inplace=True)
rdf

/tmp/ipython-input-3482768022.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf.rename(columns={'Description':'ProductName'},inplace=True)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [28]:
#Task 22: Ensure the InvoiceDate column is in proper date-time format.
rdf['InvoiceDate']=pd.to_datetime(rdf['InvoiceDate'])
rdf

/tmp/ipython-input-523196177.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['InvoiceDate']=pd.to_datetime(rdf['InvoiceDate'])

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [29]:
#Task 23: Convert CustomerID to integer type.
rdf=rdf.dropna(subset=['CustomerID'])
rdf['CustomerID']=rdf['CustomerID'].astype(int)

/tmp/ipython-input-2872414272.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['CustomerID']=rdf['CustomerID'].astype(int)

In [30]:
#Task 24: Reset the index after all cleaning operations.
rdf.reset_index(drop=True,inplace=True)
rdf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

**PART D: Feature Creation**

In [31]:
#Task 25: Create a new column called "TotalPrice" that represents the total value of each transaction.
rdf['TotalPrice']=rdf['Quantity']*rdf['UnitPrice']
rdf

/tmp/ipython-input-2373852828.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['TotalPrice']=rdf['Quantity']*rdf['UnitPrice']

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

In [32]:
#Task 26: Extract the year from InvoiceDate and store it in a new column "Year".
rdf['Year']=rdf['InvoiceDate'].dt.year
rdf

/tmp/ipython-input-1809470381.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['Year']=rdf['InvoiceDate'].dt.year

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011

In [33]:
#Task 27: Extract the month from InvoiceDate and store it in a new column "Month".
rdf['Month']=rdf['InvoiceDate'].dt.month
rdf

/tmp/ipython-input-3719184828.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['Month']=rdf['InvoiceDate'].dt.month

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12

In [34]:
#Task 28: Extract the day from InvoiceDate and store it in a new column "Day".
rdf['Day']=rdf['InvoiceDate'].dt.day
rdf

/tmp/ipython-input-154232680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['Day']=rdf['InvoiceDate'].dt.day

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9

In [35]:
#Task 29: Extract the hour from InvoiceDate and store it in a new column "Hour".
rdf['Hour']=rdf['InvoiceDate'].dt.hour
rdf

/tmp/ipython-input-1351975315.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['Hour']=rdf['InvoiceDate'].dt.hour

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12

In [36]:
#Task 30: Create a column "DayOfWeek" showing which day of the week the transaction occurred.
rdf['DayOfWeek']=rdf['InvoiceDate'].dt.day_name()
rdf

/tmp/ipython-input-1481035956.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['DayOfWeek']=rdf['InvoiceDate'].dt.day_name()

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday

In [37]:
#Task 31: Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.
rdf['Quarter']=rdf['InvoiceDate'].dt.quarter
rdf

/tmp/ipython-input-732840735.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['Quarter']=rdf['InvoiceDate'].dt.quarter

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,4
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4

In [38]:
#Task 32: Create a column "RevenueCategory" with three levels:"Low" for transactions under Â£10: "Medium" for transactions between Â£10 and Â£100: "High" for transactions above Â£100
rdf['RevenueCategory']=''
rdf.loc[rdf['TotalPrice']<10,'RevenueCategory']='Low'
rdf.loc[(rdf['TotalPrice']>10) & (rdf['TotalPrice']<100),'RevenueCategory']='Medium'
rdf.loc[rdf['TotalPrice']>100,'RevenueCategory']='High'
rdf

/tmp/ipython-input-1086437405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['RevenueCategory']=''

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,4,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium

In [39]:
#Task 33: Create a column "OrderSize" with three levels: "Small" for Quantity less than 5: "Medium" for Quantity between 5 and 20: "Large" for Quantity greater than 20
rdf['OrderSize']=''
rdf.loc[rdf['Quantity']<5,'OrderSize']='Small'
rdf.loc[(rdf['Quantity']>5) & (rdf['Quantity']<20),'OrderSize']='Medium'
rdf.loc[rdf['Quantity']>20,'OrderSize']='Large'
rdf

/tmp/ipython-input-1230654009.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['OrderSize']=''

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4,Medium,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,4,Medium,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium,Medium
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium,Medium
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small

In [40]:
#Task 34: Create a column that shows the length of each product name.
rdf['len_prod']=''
rdf['len_prod']=rdf['ProductName'].str.len()
rdf

/tmp/ipython-input-3686246140.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['len_prod']=''
/tmp/ipython-input-3686246140.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['len_prod']=rdf['ProductName'].str.len()

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium,Medium,27
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium,Medium,28
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,29
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,31
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small,29

**PART E: Text Data Processing**

In [41]:
#Task 35: Convert all product names to uppercase.
rdf['ProductName'].str.upper()
rdf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium,Medium,27
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium,Medium,28
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,29
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,31
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small,29

In [43]:
#Task 36: Remove any extra spaces from the Country column.
rdf['Country']=rdf['Country'].str.strip()
rdf

/tmp/ipython-input-371898281.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['Country']=rdf['Country'].str.strip()

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium,Medium,27
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium,Medium,28
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,29
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,31
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small,29

In [44]:
#Task 37: Find all products that contain the word "BAG" in their name.
rdf[rdf['ProductName'].str.contains('BAG',case=False,na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583,France,17.0,2010,12,1,8,Wednesday,4,Medium,,31
86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,Wednesday,4,Medium,Medium,23
87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,Wednesday,4,Medium,Medium,30
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688,United Kingdom,29.5,2010,12,1,9,Wednesday,4,Medium,Medium,31
89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688,United Kingdom,8.5,2010,12,1,9,Wednesday,4,Low,Medium,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397848,581579,23343,JUMBO BAG VINTAGE CHRISTMAS,30,2011-12-09 12:19:00,1.79,17581,United Kingdom,53.7,2011,12,9,12,Friday,4,Medium,Large,28
397849,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581,United Kingdom,35.8,2011,12,9,12,Friday,4,Medium,,25
397850,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,United Kingdom,71.6,2011,12,9,12,Friday,4,Medium,Large,22
397877,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.5,2011,12,9,12,Friday,4,Medium,Medium,27
397880,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.0,2011,12,9,12,Friday,4,Medium,Large,23

In [45]:
#Task 38: Find all products whose names start with "WHITE".
rdf[rdf['ProductName'].str.startswith('WHITE')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,Wednesday,4,Medium,Medium,34
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850,United Kingdom,20.34,2010,12,1,9,Wednesday,4,Medium,Medium,19
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,Wednesday,4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397247,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796,United Kingdom,17.70,2011,12,8,19,Thursday,4,Medium,Medium,34
397360,581476,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 08:48:00,4.25,12433,Norway,17.00,2011,12,9,8,Friday,4,Medium,Small,29
397597,581502,23210,WHITE ROCKING HORSE HAND PAINTED,12,2011-12-09 10:51:00,1.25,15910,United Kingdom,15.00,2011,12,9,10,Friday,4,Medium,Medium,32
397665,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446,United Kingdom,1.45,2011,12,9,11,Friday,4,Low,Small,35
397730,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626,United Kingdom,17.00,2011,12,9,11,Friday,4,Medium,Small,29

In [46]:
#Task 39: Find all products whose names end with "HOLDER".
rdf[rdf['ProductName'].str.endswith('HOLDER')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3,2010,12,1,8,Wednesday,4,Medium,Medium,34
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.5,2010,12,1,8,Wednesday,4,Medium,Medium,33
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,Wednesday,4,Medium,Medium,34
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,25.5,2010,12,1,9,Wednesday,4,Medium,Medium,33
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,Wednesday,4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397729,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.2,2011,12,9,11,Friday,4,Medium,Large,32
397756,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311,United Kingdom,4.2,2011,12,9,12,Friday,4,Low,Small,26
397840,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581,United Kingdom,20.4,2011,12,9,12,Friday,4,Medium,Large,14
397887,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.0,2011,12,9,12,Friday,4,Medium,Medium,30
397891,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804,United Kingdom,20.4,2011,12,9,12,Friday,4,Medium,Large,34

In [47]:
#Task 40: Replace "United Kingdom" with "UK" in the Country column.
rdf['Country']=rdf['Country'].replace('United Kingdom','UK')
rdf

/tmp/ipython-input-193570217.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['Country']=rdf['Country'].replace('United Kingdom','UK')

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium,Medium,27
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium,Medium,28
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,29
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,31
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small,29

In [48]:
#Task 41: Replace "EIRE" with "Ireland" in the Country column.
rdf['Country']=rdf['Country'].replace('Ireland','EIRE')
rdf

/tmp/ipython-input-3203905639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rdf['Country']=rdf['Country'].replace('Ireland','EIRE')

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium,Medium,27
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium,Medium,28
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,29
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,31
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small,29

**PART F: Data Selection and Filtering**

In [49]:
#Task 42: Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.
rdf[['InvoiceNo', 'ProductName', 'Quantity', 'UnitPrice', 'Country']]

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,UK
1,536365,WHITE METAL LANTERN,6,3.39,UK
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2.75,UK
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,UK
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,UK
...,...,...,...,...,...
397919,581587,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France
397920,581587,CHILDREN'S APRON DOLLY GIRL,6,2.10,France
397921,581587,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France
397922,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France
397923,581587,BAKING SET 9 PIECE RETROSPOT,3,4.95,France

In [50]:
#Task 43: Display transactions from Germany only.
rdf[rdf['Country']=='Germany']

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
1098,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662,Germany,17.70,2010,12,1,13,Wednesday,4,Medium,Medium,23
1099,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662,Germany,15.30,2010,12,1,13,Wednesday,4,Medium,Medium,35
1100,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662,Germany,10.20,2010,12,1,13,Wednesday,4,Medium,Medium,34
1101,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662,Germany,19.80,2010,12,1,13,Wednesday,4,Medium,Medium,29
1102,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662,Germany,23.40,2010,12,1,13,Wednesday,4,Medium,Medium,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397816,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,2011,12,9,12,Friday,4,Medium,Medium,28
397817,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,Friday,4,Medium,Medium,32
397818,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,Friday,4,Medium,Medium,29
397819,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,2011,12,9,12,Friday,4,Medium,Medium,32
397820,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,2011,12,9,12,Friday,4,Medium,Medium,27

In [51]:
#Task 44: Display transactions where Quantity is greater than 50.
rdf.loc[rdf['Quantity']>50]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,Wednesday,4,High,Large,31
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291,UK,163.20,2010,12,1,9,Wednesday,4,High,Large,32
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688,UK,50.40,2010,12,1,9,Wednesday,4,Medium,Large,31
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688,UK,36.48,2010,12,1,9,Wednesday,4,Medium,Large,34
174,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029,UK,165.00,2010,12,1,9,Wednesday,4,High,Large,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397720,581566,23404,HOME SWEET HOME BLACKBOARD,144,2011-12-09 11:50:00,3.26,18102,UK,469.44,2011,12,9,11,Friday,4,High,Large,26
397721,581567,21417,COCKLE SHELL DISH,84,2011-12-09 11:56:00,0.79,16626,UK,66.36,2011,12,9,11,Friday,4,Medium,Large,17
397729,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,UK,79.20,2011,12,9,11,Friday,4,Medium,Large,32
397761,581571,23167,SMALL CERAMIC TOP STORAGE JAR,96,2011-12-09 12:00:00,0.69,15311,UK,66.24,2011,12,9,12,Friday,4,Medium,Large,30
397882,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777,UK,51.84,2011,12,9,12,Friday,4,Medium,Large,32

In [52]:
#Task 45: Display transactions where UnitPrice is between Â£5 and Â£10.
rdf.loc[(rdf['UnitPrice']>5) & (rdf['UnitPrice']<10)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,12,1,8,Wednesday,4,Medium,Small,28
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047,UK,19.90,2010,12,1,8,Wednesday,4,Medium,Small,30
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,Wednesday,4,Medium,Small,24
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,Wednesday,4,Medium,Small,24
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047,UK,31.80,2010,12,1,8,Wednesday,4,Medium,Small,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397870,581580,21351,CINAMMON & ORANGE WREATH,1,2011-12-09 12:20:00,6.75,12748,UK,6.75,2011,12,9,12,Friday,4,Low,Small,24
397873,581580,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,5.75,12748,UK,11.50,2011,12,9,12,Friday,4,Medium,Small,13
397893,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804,UK,17.85,2011,12,9,12,Friday,4,Medium,Small,21
397907,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,Friday,4,High,Large,29
397908,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,Friday,4,Medium,Medium,21

In [53]:
#Task 46: Display transactions from France with Quantity greater than 20.
rdf.loc[(rdf['Country']=='France') & (rdf['Quantity']>20)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,4,Medium,Large,25
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583,France,15.60,2010,12,1,8,Wednesday,4,Medium,Large,16
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583,France,40.80,2010,12,1,8,Wednesday,4,Medium,Large,27
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583,France,30.00,2010,12,1,8,Wednesday,4,Medium,Large,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392631,581001,23084,RABBIT NIGHT LIGHT,24,2011-12-07 08:07:00,1.79,12583,France,42.96,2011,12,7,8,Wednesday,4,Medium,Large,18
392645,581001,22726,ALARM CLOCK BAKELIKE GREEN,24,2011-12-07 08:07:00,3.75,12583,France,90.00,2011,12,7,8,Wednesday,4,Medium,Large,26
394251,581171,22966,GINGERBREAD MAN COOKIE CUTTER,24,2011-12-07 15:02:00,1.25,12615,France,30.00,2011,12,7,15,Wednesday,4,Medium,Large,29
394262,581171,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,2011-12-07 15:02:00,0.29,12615,France,13.92,2011,12,7,15,Wednesday,4,Medium,Large,33
394269,581171,23084,RABBIT NIGHT LIGHT,24,2011-12-07 15:02:00,1.79,12615,France,42.96,2011,12,7,15,Wednesday,4,Medium,Large,18

In [54]:
#Task 47: Display transactions from December 2010.
rdf[rdf['InvoiceDate']>'12-12-2010']

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
15885,538365,22469,HEART OF WICKER SMALL,8,2010-12-12 10:11:00,1.65,17243,UK,13.20,2010,12,12,10,Sunday,4,Medium,Medium,21
15886,538365,84030E,ENGLISH ROSE HOT WATER BOTTLE,1,2010-12-12 10:11:00,4.25,17243,UK,4.25,2010,12,12,10,Sunday,4,Low,Small,29
15887,538365,22112,CHOCOLATE HOT WATER BOTTLE,3,2010-12-12 10:11:00,4.95,17243,UK,14.85,2010,12,12,10,Sunday,4,Medium,Small,26
15888,538365,22835,HOT WATER BOTTLE I AM SO POORLY,5,2010-12-12 10:11:00,4.65,17243,UK,23.25,2010,12,12,10,Sunday,4,Medium,,31
15889,538365,84029E,RED WOOLLY HOTTIE WHITE HEART.,4,2010-12-12 10:11:00,3.75,17243,UK,15.00,2010,12,12,10,Sunday,4,Medium,Small,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium,Medium,27
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium,Medium,28
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,29
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,31
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small,29

In [55]:
#Task 48: Display transactions that occurred on weekends.
rdf[rdf['InvoiceDate'].dt.dayofweek>=5]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
5045,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,12,5,10,Sunday,4,Medium,Medium,33
5046,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,12,5,10,Sunday,4,Medium,Medium,32
5047,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,12,5,10,Sunday,4,Medium,Small,31
5048,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,4,Medium,Medium,30
5049,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,4,Medium,Medium,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386675,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490,France,15.60,2011,12,4,16,Sunday,4,Medium,Medium,25
386676,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490,France,7.80,2011,12,4,16,Sunday,4,Low,Medium,18
386677,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490,France,17.70,2011,12,4,16,Sunday,4,Medium,Medium,23
386678,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490,France,19.80,2011,12,4,16,Sunday,4,Medium,Small,32
386679,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490,France,54.00,2011,12,4,16,Sunday,4,Medium,Small,7

In [56]:
#Task 49: Display the top 10 transactions by TotalPrice.
rdf.sort_values('TotalPrice',ascending=False).head(10)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
397451,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,4,High,Large,27
37126,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,1,High,Large,30
155418,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,2,High,Large,30
118352,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,2,High,Small,7
248706,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,3,High,Large,35
109624,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,2,High,Large,34
32732,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,1,High,Large,34
308097,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,4,High,Large,18
32730,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,1,High,Large,34
109620,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,2,High,Large,34

In [57]:
#Task 50: Display the bottom 15 transactions by TotalPrice.
rdf.sort_values('TotalPrice',ascending=False).tail(15)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
137127,554037,22619,SET OF 6 SOLDIER SKITTLES,80,2011-05-20 14:13:00,0.0,12415,Australia,0.0,2011,5,20,14,Friday,2,Low,Large,25
329007,574920,23480,MINI LIGHTS WOODLAND MUSHROOMS,1,2011-11-07 16:34:00,0.0,13985,UK,0.0,2011,11,7,16,Monday,4,Low,Small,30
334242,575579,22437,SET OF 9 BLACK SKULL BALLOONS,20,2011-11-10 11:49:00,0.0,13081,UK,0.0,2011,11,10,11,Thursday,4,Low,,29
128641,553000,47566,PARTY BUNTING,4,2011-05-12 15:21:00,0.0,17667,UK,0.0,2011,5,12,15,Thursday,2,Low,Small,13
286507,571035,M,Manual,1,2011-10-13 12:50:00,0.0,12446,RSA,0.0,2011,10,13,12,Thursday,4,Low,Small,6
85671,547417,22062,CERAMIC BOWL WITH LOVE HEART DESIGN,36,2011-03-23 10:25:00,0.0,13239,UK,0.0,2011,3,23,10,Wednesday,1,Low,Large,35
334243,575579,22089,PAPER BUNTING VINTAGE PAISLEY,24,2011-11-10 11:49:00,0.0,13081,UK,0.0,2011,11,10,11,Thursday,4,Low,Large,29
208950,562973,23157,SET OF 6 NATIVITY MAGNETS,240,2011-08-11 11:42:00,0.0,14911,EIRE,0.0,2011,8,11,11,Thursday,3,Low,Large,26
353097,577168,M,Manual,1,2011-11-18 10:42:00,0.0,12603,Germany,0.0,2011,11,18,10,Friday,4,Low,Small,6
197173,561669,22960,JAM MAKING SET WITH JARS,11,2011-07-28 17:09:00,0.0,12507,Spain,0.0,2011,7,28,17,Thursday,3,Low,Medium,24
256263,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 12:22:00,0.0,16133,UK,0.0,2011,9,25,12,Sunday,3,Low,Small,26
29082,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.0,13081,UK,0.0,2011,1,6,16,Thursday,1,Low,Large,22
29080,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081,UK,0.0,2011,1,6,16,Thursday,1,Low,Large,23
370473,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.0,13256,UK,0.0,2011,11,25,15,Friday,4,Low,Large,30
320049,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,2011-11-03 11:47:00,0.0,14110,UK,0.0,2011,11,3,11,Thursday,4,Low,Medium,30

In [58]:
#Task 51: Find all transactions from either UK, Germany, or France.
rdf[(rdf['Country']=='UK') | (rdf['Country']=='Germany') | (rdf['Country']=='France')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,4,Medium,Medium,27
397920,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,4,Medium,Medium,28
397921,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,29
397922,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,4,Medium,Small,31
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small,29

In [59]:
#Task 52: Find transactions where TotalPrice is above the 95th percentile.
rdf[rdf['TotalPrice']>rdf['TotalPrice'].quantile(0.95)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,4,Medium,Large,25
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,Wednesday,4,Medium,Large,35
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,Wednesday,4,Medium,Large,32
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,Wednesday,4,High,Large,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397842,581579,23313,VINTAGE CHRISTMAS BUNTING,15,2011-12-09 12:19:00,4.95,17581,UK,74.25,2011,12,9,12,Friday,4,Medium,Medium,25
397850,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,UK,71.60,2011,12,9,12,Friday,4,Medium,Large,22
397883,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777,UK,88.80,2011,12,9,12,Friday,4,Medium,Large,31
397907,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,Friday,4,High,Large,29
397908,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,Friday,4,Medium,Medium,21

**PART G: Sorting Operations**

In [60]:
#Task 53: Sort the entire dataset by InvoiceDate in ascending order.
rdf.sort_values('InvoiceDate',ascending=True)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397911,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,Friday,4,Medium,Medium,25
397910,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,Friday,4,Medium,Medium,30
397909,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680,France,23.40,2011,12,9,12,Friday,4,Medium,Medium,24
397915,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,12,9,12,Friday,4,Medium,Small,26
397923,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,4,Medium,Small,29

In [61]:
#Task 54: Sort the dataset by TotalPrice in descending order.
rdf.sort_values('TotalPrice',ascending=False)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
397451,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,4,High,Large,27
37126,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,1,High,Large,30
155418,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,2,High,Large,30
118352,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,2,High,Small,7
248706,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,3,High,Large,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256263,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 12:22:00,0.00,16133,UK,0.00,2011,9,25,12,Sunday,3,Low,Small,26
29082,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.00,13081,UK,0.00,2011,1,6,16,Thursday,1,Low,Large,22
29080,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.00,13081,UK,0.00,2011,1,6,16,Thursday,1,Low,Large,23
370473,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.00,13256,UK,0.00,2011,11,25,15,Friday,4,Low,Large,30
320049,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,2011-11-03 11:47:00,0.00,14110,UK,0.00,2011,11,3,11,Thursday,4,Low,Medium,30

In [62]:
#Task 55: Sort by Country (ascending) and then by TotalPrice (descending).
rdf=rdf.sort_values(['Country','TotalPrice'],ascending=[True,False])
rdf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
345074,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,11,15,10,Tuesday,4,High,Large,18
214804,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,8,18,8,Thursday,3,High,Large,25
69490,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,3,3,10,Thursday,1,High,Large,29
214874,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,8,18,8,Thursday,3,High,Large,28
28084,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,1,6,11,Thursday,1,High,Large,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197139,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,7,28,16,Thursday,3,Low,Small,31
197018,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,7,28,16,Thursday,3,Low,Small,35
197083,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,7,28,16,Thursday,3,Low,Small,29
197134,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,7,28,16,Thursday,3,Low,Small,29
197108,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,7,28,16,Thursday,3,Low,Small,33

In [63]:
#Task 56: Find the 20 highest-value transactions.
rdf.sort_values('TotalPrice',ascending=False).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
397451,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,4,High,Large,27
37126,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,1,High,Large,30
155418,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,2,High,Large,30
118352,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,2,High,Small,7
248706,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,3,High,Large,35
32732,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,1,High,Large,34
109624,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,2,High,Large,34
308097,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,4,High,Large,18
32730,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,1,High,Large,34
109620,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,2,High,Large,34
32793,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,Tuesday,1,High,Large,18
171574,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,Thursday,2,High,Large,21
109622,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,Monday,2,High,Large,18
204041,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,Thursday,3,High,Large,29
308822,573077,M,Manual,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,4,High,Small,6
308846,573080,M,Manual,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,4,High,Small,6
32189,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450,UK,4121.64,2011,1,11,8,Tuesday,1,High,Large,21
295254,571751,M,Manual,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32,2011,10,19,11,Wednesday,4,High,Small,6
393298,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195,UK,3861.00,2011,12,7,12,Wednesday,4,High,Large,31
10797,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102,UK,3828.00,2010,12,7,16,Tuesday,4,High,Large,28

In [64]:
#Task 57: Find the 20 lowest-value transactions (excluding returns)
rdf.sort_values('TotalPrice',ascending=False).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod
397451,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,4,High,Large,27
37126,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,1,High,Large,30
155418,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,2,High,Large,30
118352,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,2,High,Small,7
248706,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,3,High,Large,35
32732,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,1,High,Large,34
109624,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,2,High,Large,34
308097,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,4,High,Large,18
32730,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,1,High,Large,34
109620,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,2,High,Large,34
32793,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,Tuesday,1,High,Large,18
171574,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,Thursday,2,High,Large,21
109622,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,Monday,2,High,Large,18
204041,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,Thursday,3,High,Large,29
308822,573077,M,Manual,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,4,High,Small,6
308846,573080,M,Manual,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,4,High,Small,6
32189,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450,UK,4121.64,2011,1,11,8,Tuesday,1,High,Large,21
295254,571751,M,Manual,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32,2011,10,19,11,Wednesday,4,High,Small,6
393298,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195,UK,3861.00,2011,12,7,12,Wednesday,4,High,Large,31
10797,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102,UK,3828.00,2010,12,7,16,Tuesday,4,High,Large,28

**PART H: Aggregation and Summary Statistics**

In [65]:
#Task 58: Calculate the total revenue generated across all transactions.
Total_revenue=rdf['TotalPrice'].sum()
Total_revenue

np.float64(8911407.903999995)

In [66]:
#Task 59: Calculate the average transaction value.
rdf['TotalPrice'].mean()

np.float64(22.39474850473959)

In [67]:
#Task 60: Find the maximum and minimum transaction values.
rdf['TotalPrice'].max()

168469.6

In [68]:
rdf['TotalPrice'].min()

0.0

In [69]:
#Task 61: Calculate the total number of unique customers.
rdf['CustomerID'].nunique()

4339

In [70]:
#Task 62: Calculate the total number of unique products sold.
rdf['StockCode'].nunique()

3665

In [71]:
#Task 63: Find out how many unique countries are represented in the data.
rdf['Country'].nunique()

37

In [72]:
#Task 64: Calculate the average number of items per transaction.
rdf['Quantity'].mean()

np.float64(13.021823262733587)

In [73]:
#Task 65: Find which product appears most frequently in transactions.
rdf['ProductName'].value_counts().head(1)

ProductName
WHITE HANGING HEART T-LIGHT HOLDER    2028
Name: count, dtype: int64

**PART I: Country-wise Analysis**

In [74]:
#Task 66: Calculate total revenue for each country.
rdf.groupby('Country')['TotalPrice'].sum()

Country
Australia                138521.310
Austria                   10198.680
Bahrain                     548.400
Belgium                   41196.340
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20450.440
Cyprus                    13590.380
Czech Republic              826.740
Denmark                   18955.340
EIRE                     265545.900
European Community         1300.250
Finland                   22546.080
France                   209024.050
Germany                  228867.140
Greece                     4760.520
Iceland                    4310.000
Israel                     7221.690
Italy                     17483.240
Japan                     37416.370
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2725.590
Netherlands              285446.340
Norway                    36165.440
Poland                     7334.650
Portugal                  33439.890
RSA                        1002.310
Saudi Arabia                145.920
Singapore                 21279.290
Spain                     61577.110
Sweden                    38378.330
Switzerland               56443.950
UK                      7308391.554
USA                        3580.390
United Arab Emirates       1902.280
Unspecified                2667.070
Name: TotalPrice, dtype: float64

In [75]:
#Task 67: Find the top 10 countries by total revenue.
top=rdf.groupby('Country')['TotalPrice'].sum()
top.sort_values(ascending=False).head(10)

Country
UK             7308391.554
Netherlands     285446.340
EIRE            265545.900
Germany         228867.140
France          209024.050
Australia       138521.310
Spain            61577.110
Switzerland      56443.950
Belgium          41196.340
Sweden           38378.330
Name: TotalPrice, dtype: float64

In [76]:
rdf.columns

Index(['InvoiceNo', 'StockCode', 'ProductName', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'TotalPrice', 'Year', 'Month',
       'Day', 'Hour', 'DayOfWeek', 'Quarter', 'RevenueCategory', 'OrderSize',
       'len_prod'],
      dtype='object')

In [77]:
#Task 68: Calculate the number of transactions per country.
rdf['Country'].value_counts()

Country
UK                      354345
Germany                   9042
France                    8342
EIRE                      7238
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1842
Portugal                  1462
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     248
Unspecified                244
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: count, dtype: int64

In [78]:
#Task 69: Calculate the average transaction value for each country.
rdf.groupby('Country')['TotalPrice'].mean()

Country
Australia               116.895620
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.340160
Cyprus                   22.134169
Czech Republic           33.069600
Denmark                  49.882474
EIRE                     36.687745
European Community       21.670833
Finland                  32.913985
France                   25.056827
Germany                  25.311562
Greece                   32.831172
Iceland                  23.681319
Israel                   29.119718
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             120.798282
Norway                   33.736418
Poland                   22.226212
Portugal                 22.872702
RSA                      17.281207
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.779521
Sweden                   85.096075
Switzerland              30.642752
UK                       20.625073
USA                      20.002179
United Arab Emirates     27.974706
Unspecified              10.930615
Name: TotalPrice, dtype: float64

In [79]:
#Task 70: Find which country has the highest average order value.
rdf.groupby('Country')['TotalPrice'].mean().idxmax()

'Netherlands'

In [80]:
#Task 71: Calculate the total quantity of products sold to each country.
rdf.groupby('Country')['Quantity'].sum()

Country
Australia                 84209
Austria                    4881
Bahrain                     260
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9491
Cyprus                     6361
Czech Republic              671
Denmark                    8235
EIRE                     140525
European Community          499
Finland                   10704
France                   111472
Germany                  119263
Greece                     1557
Iceland                    2458
Israel                     4046
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200937
Norway                    19338
Poland                     3684
Portugal                  16122
RSA                         352
Saudi Arabia                 80
Singapore                  5241
Spain                     27951
Sweden                    36083
Switzerland               30083
UK                      4269472
USA                        2458
United Arab Emirates        982
Unspecified                1789
Name: Quantity, dtype: int64

In [81]:
#Task 72: Find the country with the most unique customers.
rdf.groupby('Country')['CustomerID'].nunique().idxmax()

'UK'

**PART J: Time-based Analysis**

In [82]:
#Task 73: Calculate total revenue for each month.
rdf.groupby('Month')['TotalPrice'].sum()

Month
1      569445.040
2      447137.350
3      595500.760
4      469200.361
5      678594.560
6      661213.690
7      600091.011
8      645343.900
9      952838.382
10    1039318.790
11    1161817.380
12    1090906.680
Name: TotalPrice, dtype: float64

In [83]:
#Task 74: Find which month had the highest sales.
rdf['Month'].value_counts().idxmax()

np.int32(11)

In [84]:
#Task 75: Calculate revenue for each quarter.
rdf.groupby('Quarter')['TotalPrice'].sum()

Quarter
1    1612083.150
2    1809008.611
3    2198273.293
4    3292042.850
Name: TotalPrice, dtype: float64

In [85]:
#Task 76: Calculate the number of transactions per day of the week.
rdf.groupby('DayOfWeek')['InvoiceNo'].sum()

DayOfWeek
Friday       5744695540375631795486615540375394195411495540...
Monday       5541265405575541265433725433765412715412715412...
Sunday       5450655681455681455610405681455681455681455610...
Thursday     5636145454755636145402675636145651455636145651...
Tuesday      5763945439895439895535465439895439895535465535...
Wednesday    5569175569175696505696505696505696505696475569...
Name: InvoiceNo, dtype: object

In [86]:
#Task 77: Find which day of the week has the highest average revenue.
rdf.groupby('DayOfWeek')['TotalPrice'].mean().idxmax()

'Friday'

In [87]:
#Task 78: Calculate hourly sales patterns (revenue by hour of day).
rdf.groupby('Hour')['TotalPrice'].sum()

Hour
6           4.250
7       31059.210
8      282115.630
9      842605.171
10    1261192.571
11    1104558.750
12    1378571.480
13    1173264.750
14     995629.371
15     966191.750
16     468885.800
17     234413.521
18     104954.430
19      49028.460
20      18932.760
Name: TotalPrice, dtype: float64

In [88]:
#Task 79: Compare sales between 2010 and 2011.
rdf.groupby('Year')['TotalPrice'].sum()

Year
2010     572713.890
2011    8338694.014
Name: TotalPrice, dtype: float64

In [89]:
#Task 80: Calculate month-over-month revenue growth rate.
rdf['YearMonth'] = rdf['InvoiceDate'].dt.to_period('M')
monthly_revenue=rdf.groupby('YearMonth')['TotalPrice'].sum()
growth_rate=monthly_revenue.pct_change()*100
growth_rate

YearMonth
2010-12          NaN
2011-01    -0.570765
2011-02   -21.478401
2011-03    33.180724
2011-04   -21.209108
2011-05    44.627885
2011-06    -2.561304
2011-07    -9.244013
2011-08     7.541004
2011-09    47.648158
2011-10     9.076084
2011-11    11.786431
2011-12   -55.398086
Freq: M, Name: TotalPrice, dtype: float64

**PART K: Customer Analysis**

In [90]:
#Task 81: Calculate total spending for each customer.
rdf.groupby('CustomerID')['TotalPrice'].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: TotalPrice, Length: 4339, dtype: float64

In [91]:
#Task 82: Find the top 20 customers by total spending.
t=rdf.groupby('CustomerID')['TotalPrice'].sum()
t.sort_values(ascending=False).head(20)

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
12415    124914.53
14156    117379.63
17511     91062.38
16029     81024.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60767.90
13089     58825.83
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
Name: TotalPrice, dtype: float64

In [92]:
#Task 83: Calculate the number of transactions per customer.
rdf['CustomerID'].value_counts()

CustomerID
17841    7847
14911    5677
14096    5111
12748    4596
14606    2700
         ...
15940       1
18174       1
16765       1
16073       1
15070       1
Name: count, Length: 4339, dtype: int64

In [93]:
#Task 84: Find the average order value for each customer.
rdf.groupby('CustomerID')['TotalPrice'].mean()

CustomerID
12346    77183.600000
12347       23.681319
12348       57.975484
12349       24.076027
12350       19.670588
             ...
18280       18.060000
18281       11.545714
18282       14.837500
18283        2.771005
18287       26.246857
Name: TotalPrice, Length: 4339, dtype: float64

In [94]:
#Task 85: Identify customers who have made only one purchase.
purch1=rdf['CustomerID'].value_counts()
purch1[purch1==1]

CustomerID
16148    1
15668    1
18113    1
14090    1
13106    1
        ..
15940    1
18174    1
16765    1
16073    1
15070    1
Name: count, Length: 72, dtype: int64

In [95]:
#Task 86: Find customers who spent more than Â£10,000 in total.
Total_spend=rdf.groupby('CustomerID')['TotalPrice'].sum()
Total_spend[Total_spend>10000]

CustomerID
12346     77183.60
12409     11072.67
12415    124914.53
12433     13375.87
12471     19824.05
           ...
17841     40991.57
17857     26879.04
17865     10526.32
17949     58510.48
18102    259657.30
Name: TotalPrice, Length: 104, dtype: float64

In [96]:
#Task 87: Calculate the average number of days between purchases for each customer.
rdf.sort_values('InvoiceDate')
rdf['DayDiff']=rdf.groupby('CustomerID')['InvoiceDate'].diff().dt.days
avg=rdf.groupby('CustomerID')['DayDiff'].mean()
avg

CustomerID
12346         NaN
12347   -0.696133
12348   -0.200000
12349    0.000000
12350    0.000000
           ...
18280    0.000000
18281    0.000000
18282   -0.272727
18283   -0.313907
18287    1.884058
Name: DayDiff, Length: 4339, dtype: float64

**PART L: Product Analysis**

In [97]:
#Task 88: Find the top 20 products by revenue.
top=rdf.groupby('ProductName')['TotalPrice'].sum()
top.sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           168469.60
REGENCY CAKESTAND 3 TIER              142592.95
WHITE HANGING HEART T-LIGHT HOLDER    100448.15
JUMBO BAG RED RETROSPOT                85220.78
MEDIUM CERAMIC TOP STORAGE JAR         81416.73
POSTAGE                                77803.96
PARTY BUNTING                          68844.33
ASSORTED COLOUR BIRD ORNAMENT          56580.34
Manual                                 53779.93
RABBIT NIGHT LIGHT                     51346.20
CHILLI LIGHTS                          46286.51
PAPER CHAIN KIT 50'S CHRISTMAS         42660.83
PICNIC BASKET WICKER 60 PIECES         39619.50
BLACK RECORD COVER FRAME               39064.55
JUMBO BAG PINK POLKADOT                37289.59
DOORMAT KEEP CALM AND COME IN          35913.85
SPOTTY BUNTING                         35539.25
WOOD BLACK BOARD ANT WHITE FINISH      34478.01
SET OF 3 CAKE TINS PANTRY DESIGN       33347.80
JAM MAKING SET WITH JARS               32662.97
Name: TotalPrice, dtype: float64

In [98]:
#Task 89: Find the top 20 products by quantity sold
topq=rdf.groupby('ProductName')['Quantity'].sum()
topq.sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        77916
WORLD WAR 2 GLIDERS ASSTD DESIGNS     54415
JUMBO BAG RED RETROSPOT               46181
WHITE HANGING HEART T-LIGHT HOLDER    36725
ASSORTED COLOUR BIRD ORNAMENT         35362
PACK OF 72 RETROSPOT CAKE CASES       33693
POPCORN HOLDER                        30931
RABBIT NIGHT LIGHT                    27202
MINI PAINT SET VINTAGE                26076
PACK OF 12 LONDON TISSUES             25345
PACK OF 60 PINK PAISLEY CAKE CASES    24264
BROCADE RING PURSE                    22963
VICTORIAN GLASS HANGING T-LIGHT       22433
ASSORTED COLOURS SILK FAN             21876
RED  HARMONICA IN BOX                 20975
JUMBO BAG PINK POLKADOT               20165
SMALL POPCORN HOLDER                  18252
LUNCH BAG RED RETROSPOT               17697
60 TEATIME FAIRY CAKE CASES           17689
Name: Quantity, dtype: int64

In [99]:
#Task 90: Calculate the average price for each product.
rdf.groupby('ProductName')['UnitPrice'].mean()

ProductName
 4 PURPLE FLOCK DINNER CANDLES       2.324359
 50'S CHRISTMAS GIFT BAG LARGE       1.248073
 DOLLY GIRL BEAKER                   1.243841
 I LOVE LONDON MINI BACKPACK         4.138571
 I LOVE LONDON MINI RUCKSACK         4.150000
                                      ...
ZINC T-LIGHT HOLDER STARS SMALL      0.836975
ZINC TOP  2 DOOR WOODEN SHELF       16.950000
ZINC WILLIE WINKIE  CANDLE STICK     0.872344
ZINC WIRE KITCHEN ORGANISER          7.175000
ZINC WIRE SWEETHEART LETTER TRAY     3.454000
Name: UnitPrice, Length: 3877, dtype: float64

In [100]:
#Task 91: Find products that have been sold to more than 10 different countries.
prod=rdf.groupby('ProductName')['Country'].nunique()
prod[prod>10]

ProductName
 DOLLY GIRL BEAKER                     11
 SPACEBOY BABY GIFT SET                13
10 COLOUR SPACEBOY PEN                 12
12 PENCIL SMALL TUBE WOODLAND          11
12 PENCILS SMALL TUBE RED RETROSPOT    11
                                       ..
WRAP PAISLEY PARK                      14
WRAP RED APPLES                        14
WRAP RED VINTAGE DOILY                 12
ZINC FOLKART SLEIGH BELLS              11
ZINC METAL HEART DECORATION            11
Name: Country, Length: 496, dtype: int64

In [101]:
#Task 92: Identify the most expensive and cheapest products.
rdf.loc[rdf['UnitPrice'].idxmax()]

InvoiceNo                       551697
StockCode                         POST
ProductName                    POSTAGE
Quantity                             1
InvoiceDate        2011-05-03 13:46:00
UnitPrice                      8142.75
CustomerID                       16029
Country                             UK
TotalPrice                     8142.75
Year                              2011
Month                                5
Day                                  3
Hour                                13
DayOfWeek                      Tuesday
Quarter                              2
RevenueCategory                   High
OrderSize                        Small
len_prod                             7
YearMonth                      2011-05
DayDiff                            NaN
Name: 118352, dtype: object

In [102]:
rdf.loc[rdf['UnitPrice'].idxmin()]

InvoiceNo                             554037
StockCode                              22619
ProductName        SET OF 6 SOLDIER SKITTLES
Quantity                                  80
InvoiceDate              2011-05-20 14:13:00
UnitPrice                                0.0
CustomerID                             12415
Country                            Australia
TotalPrice                               0.0
Year                                    2011
Month                                      5
Day                                       20
Hour                                      14
DayOfWeek                             Friday
Quarter                                    2
RevenueCategory                          Low
OrderSize                              Large
len_prod                                  25
YearMonth                            2011-05
DayDiff                                -60.0
Name: 137127, dtype: object

**PART M: Advanced Grouping**

In [103]:
#Task 93: Calculate total revenue by Country and Year.
rdf.groupby(['Country','Year'])['TotalPrice'].sum()

Country               Year
Australia             2010       1032.850
                      2011     137488.460
Austria               2010        277.200
                      2011       9921.480
Bahrain               2011        548.400
Belgium               2010       1809.910
                      2011      39386.430
Brazil                2011       1143.600
Canada                2011       3666.380
Channel Islands       2010        363.530
                      2011      20086.910
Cyprus                2010       1590.820
                      2011      11999.560
Czech Republic        2011        826.740
Denmark               2010       1281.500
                      2011      17673.840
EIRE                  2010       8813.880
                      2011     256732.020
European Community    2011       1300.250
Finland               2010        892.800
                      2011      21653.280
France                2010       9616.310
                      2011     199407.740
Germany               2010      15241.140
                      2011     213626.000
Greece                2011       4760.520
Iceland               2010        711.790
                      2011       3598.210
Israel                2011       7221.690
Italy                 2010        811.500
                      2011      16671.740
Japan                 2010       7705.070
                      2011      29711.300
Lebanon               2011       1693.880
Lithuania             2010       1661.060
Malta                 2011       2725.590
Netherlands           2010       8784.480
                      2011     276661.860
Norway                2010       3787.120
                      2011      32378.320
Poland                2010        248.160
                      2011       7086.490
Portugal              2010       2439.970
                      2011      30999.920
RSA                   2011       1002.310
Saudi Arabia          2011        145.920
Singapore             2011      21279.290
Spain                 2010       1843.730
                      2011      59733.380
Sweden                2010       3834.300
                      2011      34544.030
Switzerland           2010       1304.920
                      2011      55139.030
UK                    2010     498661.850
                      2011    6809729.704
USA                   2011       3580.390
United Arab Emirates  2011       1902.280
Unspecified           2011       2667.070
Name: TotalPrice, dtype: float64

In [104]:
#Task 94: Calculate average transaction value by Country and Quarter.
rdf.groupby(['Country','Quarter'])['TotalPrice'].mean()

Country               Quarter
Australia             1          126.349136
                      2          130.255855
                      3           88.479103
                      4          134.529630
Austria               1           57.089231
                                    ...
USA                   4           20.359490
United Arab Emirates  1           29.641333
                      3           26.658947
Unspecified           2           18.577222
                      3            7.729709
Name: TotalPrice, Length: 117, dtype: float64

In [105]:
#Task 95: Find the number of transactions by Country and Month.
rdf.groupby(['Country','Month'])['InvoiceNo'].count()

Country      Month
Australia    1        127
             2         89
             3        108
             4         18
             5        117
                     ...
Unspecified  4         16
             5         47
             6          9
             7        149
             8         23
Name: InvoiceNo, Length: 271, dtype: int64

In [106]:
#Task 96: Calculate total revenue by Day of Week and Hour.
rdf.groupby(['DayOfWeek','Hour'])['TotalPrice'].sum()

DayOfWeek  Hour
Friday     7        17284.880
           8        52656.610
           9       296468.681
           10      183204.580
           11      166918.030
                      ...
Wednesday  15      160391.730
           16       81681.320
           17       23644.990
           19        3053.400
           20       13031.500
Name: TotalPrice, Length: 73, dtype: float64

In [107]:
#Task 97: For each country, calculate the sum, mean, maximum, and minimum TotalPrice.
rdf.groupby('Country')['TotalPrice'].sum()

Country
Australia                138521.310
Austria                   10198.680
Bahrain                     548.400
Belgium                   41196.340
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20450.440
Cyprus                    13590.380
Czech Republic              826.740
Denmark                   18955.340
EIRE                     265545.900
European Community         1300.250
Finland                   22546.080
France                   209024.050
Germany                  228867.140
Greece                     4760.520
Iceland                    4310.000
Israel                     7221.690
Italy                     17483.240
Japan                     37416.370
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2725.590
Netherlands              285446.340
Norway                    36165.440
Poland                     7334.650
Portugal                  33439.890
RSA                        1002.310
Saudi Arabia                145.920
Singapore                 21279.290
Spain                     61577.110
Sweden                    38378.330
Switzerland               56443.950
UK                      7308391.554
USA                        3580.390
United Arab Emirates       1902.280
Unspecified                2667.070
Name: TotalPrice, dtype: float64

In [108]:
rdf.groupby('Country')['TotalPrice'].max()

Country
Australia                 1718.40
Austria                    360.00
Bahrain                    120.00
Belgium                    165.00
Brazil                     175.20
Canada                     550.94
Channel Islands            408.00
Cyprus                     320.69
Czech Republic              70.80
Denmark                    428.40
EIRE                      2365.20
European Community          60.00
Finland                    551.20
France                    4161.06
Germany                    876.00
Greece                     175.20
Iceland                    249.60
Israel                     350.40
Italy                      300.00
Japan                     3794.40
Lebanon                    153.00
Lithuania                  122.40
Malta                      455.00
Netherlands               4992.00
Norway                     700.00
Poland                     120.00
Portugal                  1241.98
RSA                         38.25
Saudi Arabia                19.80
Singapore                 3949.32
Spain                     1350.00
Sweden                    1188.00
Switzerland                360.00
UK                      168469.60
USA                         81.36
United Arab Emirates       153.00
Unspecified                 69.36
Name: TotalPrice, dtype: float64

In [109]:
rdf.groupby('Country')['TotalPrice'].min()

Country
Australia                0.00
Austria                  2.88
Bahrain                 11.60
Belgium                  2.50
Brazil                  15.00
Canada                   2.50
Channel Islands          4.56
Cyprus                   0.83
Czech Republic          10.08
Denmark                  4.68
EIRE                     0.00
European Community       7.80
Finland                  2.34
France                   0.00
Germany                  0.00
Greece                   3.36
Iceland                  5.04
Israel                   0.95
Italy                    2.88
Japan                    0.29
Lebanon                 10.20
Lithuania               13.20
Malta                    2.28
Netherlands              0.00
Norway                   0.00
Poland                   6.60
Portugal                 0.29
RSA                      0.00
Saudi Arabia             5.04
Singapore                2.34
Spain                    0.00
Sweden                   5.04
Switzerland              0.00
UK                       0.00
USA                      1.25
United Arab Emirates     3.48
Unspecified              0.19
Name: TotalPrice, dtype: float64

In [110]:
rdf.groupby('Country')['TotalPrice'].mean()

Country
Australia               116.895620
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.340160
Cyprus                   22.134169
Czech Republic           33.069600
Denmark                  49.882474
EIRE                     36.687745
European Community       21.670833
Finland                  32.913985
France                   25.056827
Germany                  25.311562
Greece                   32.831172
Iceland                  23.681319
Israel                   29.119718
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             120.798282
Norway                   33.736418
Poland                   22.226212
Portugal                 22.872702
RSA                      17.281207
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.779521
Sweden                   85.096075
Switzerland              30.642752
UK                       20.625073
USA                      20.002179
United Arab Emirates     27.974706
Unspecified              10.930615
Name: TotalPrice, dtype: float64

In [111]:
#Task 98: For each customer, calculate their total spending, number of orders, and average order value.
result = rdf.groupby('CustomerID').agg(
    TotalSpending = ('TotalPrice', 'sum'),
    NumberOfOrders = ('InvoiceNo', 'count'),
    AverageOrderValue = ('TotalPrice', 'mean')
)
result

            TotalSpending  NumberOfOrders  AverageOrderValue
CustomerID
12346            77183.60               1       77183.600000
12347             4310.00             182          23.681319
12348             1797.24              31          57.975484
12349             1757.55              73          24.076027
12350              334.40              17          19.670588
...                   ...             ...                ...
18280              180.60              10          18.060000
18281               80.82               7          11.545714
18282              178.05              12          14.837500
18283             2094.88             756           2.771005
18287             1837.28              70          26.246857

[4339 rows x 3 columns]

In [112]:
#Task 99: For each product, calculate total quantity sold and total revenue generated.
result = rdf.groupby('ProductName').agg(
    TotalQuantitySold = ('Quantity', 'sum'),
    TotalRevenue = ('TotalPrice', 'sum')
)
result

                                  TotalQuantitySold  TotalRevenue
ProductName
 4 PURPLE FLOCK DINNER CANDLES                  140        270.76
 50'S CHRISTMAS GIFT BAG LARGE                 1885       2272.25
 DOLLY GIRL BEAKER                             2398       2759.50
 I LOVE LONDON MINI BACKPACK                    360       1454.00
 I LOVE LONDON MINI RUCKSACK                      1          4.15
...                                             ...           ...
ZINC T-LIGHT HOLDER STARS SMALL                4894       3879.98
ZINC TOP  2 DOOR WOODEN SHELF                    10        169.50
ZINC WILLIE WINKIE  CANDLE STICK               2607       2176.95
ZINC WIRE KITCHEN ORGANISER                      25        156.80
ZINC WIRE SWEETHEART LETTER TRAY                 80        253.24

[3877 rows x 2 columns]

**PART N: Creating Summary Reports**

In [113]:
#Task 100: Create a summary table showing monthly sales for each country (countries as rows, months as columns).
table = rdf.pivot_table(values='TotalPrice',index='Country',columns='Month',aggfunc='sum',fill_value=0)
table

Month,1,2,3,4,5,6,7,8,9,10,11,12
Country,,,,,,,,,,,,
Australia,9017.71,14695.42,17223.99,771.600,13638.41,25187.77,4964.380,22489.20,5106.730,17150.53,7242.72,1032.85
Austria,0.00,518.36,1708.12,680.780,1249.43,0.00,1191.950,1516.08,0.000,1043.78,1329.78,960.40
Bahrain,0.00,0.00,0.00,0.000,548.40,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Belgium,1200.20,2181.07,3351.98,1989.480,2732.40,4274.82,2475.570,3554.02,4208.020,5685.38,6315.76,3227.64
Brazil,0.00,0.00,0.00,1143.600,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Canada,0.00,0.00,140.54,0.000,534.24,1171.46,1768.580,51.56,0.000,0.00,0.00,0.00
Channel Islands,675.58,1784.71,3509.33,293.000,1207.24,2060.03,0.000,4896.78,1323.750,2623.32,1514.77,561.93
Cyprus,547.50,4334.24,938.39,0.000,0.00,1109.32,0.000,0.00,196.350,4412.87,460.89,1590.82
Czech Republic,0.00,549.26,0.00,0.000,0.00,0.00,0.000,0.00,0.000,277.48,0.00,0.00
Denmark,0.00,399.22,3978.99,0.000,515.70,3261.15,376.240,213.15,4570.160,1490.76,2699.57,1450.40
EIRE,21904.19,10126.52,21674.36,7570.500,15982.19,19835.99,40905.150,16967.38,40995.490,24317.92,29473.41,15792.80
European Community,0.00,0.00,0.00,191.400,0.00,432.05,676.800,0.00,0.000,0.00,0.00,0.00
Finland,889.02,205.16,5936.82,1688.920,0.00,329.56,2996.730,1376.50,1105.450,2822.12,3070.24,2125.56
France,17740.12,8515.96,14589.55,5529.610,17614.88,16078.97,10000.190,13810.96,23428.040,33485.45,31337.09,16893.23
Germany,16910.84,9581.05,14392.69,12315.540,25751.20,13274.10,16440.980,19220.77,18091.220,31638.42,28025.02,23225.31
Greece,2661.24,0.00,387.31,609.740,0.00,0.00,421.240,0.00,0.000,0.00,0.00,680.99
Iceland,475.39,0.00,0.00,636.250,0.00,382.52,0.000,584.91,0.000,1294.32,0.00,936.61
Israel,0.00,779.10,0.00,0.000,0.00,0.00,1430.750,4873.81,0.000,138.03,0.00,0.00
Italy,2402.51,256.00,1806.81,737.830,587.45,202.07,147.100,1990.95,279.800,3489.69,4571.08,1011.95
Japan,0.00,5780.81,48.90,6548.500,1351.45,1607.04,3854.400,0.00,112.080,1948.04,8460.08,7705.07
Lebanon,1693.88,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Lithuania,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,1661.06
Malta,0.00,0.00,0.00,0.000,0.00,863.16,0.000,1119.00,0.000,0.00,743.43,0.00
Netherlands,26611.16,23011.91,22416.49,2976.560,29185.88,26858.09,26.020,40327.81,26937.260,40708.65,25874.01,20512.50
Norway,0.00,630.90,1265.31,0.000,0.00,5886.86,890.070,2025.81,8678.940,3687.23,6527.50,6572.82
Poland,613.22,604.05,317.78,705.840,1522.37,343.65,687.300,401.80,529.250,0.00,1361.23,248.16
Portugal,4055.71,1213.90,2660.85,1687.750,4202.23,884.46,2287.850,1221.40,1433.220,5899.46,2644.90,5248.16
RSA,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,1002.31,0.00,0.00
Saudi Arabia,0.00,145.92,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Singapore,2053.07,0.00,0.00,8209.580,0.00,0.00,3949.320,0.00,0.000,7067.32,0.00,0.00
Spain,10086.09,2114.50,5363.15,1785.650,3257.60,3333.21,7624.920,3346.91,5189.240,8636.94,8678.96,2159.94
Sweden,3486.32,509.50,4720.58,809.100,2681.98,832.00,6802.090,1400.86,4575.210,5766.16,2722.23,4072.30
Switzerland,4231.23,2654.92,1870.23,2076.940,3610.01,7904.15,3762.650,4969.89,8284.860,7655.19,8118.96,1304.92
UK,442190.06,355655.63,467198.59,409559.141,551568.82,524915.48,485612.251,498453.32,796780.272,824766.22,980645.75,971046.02
USA,0.00,0.00,0.00,383.950,0.00,0.00,0.000,0.00,0.000,2311.20,0.00,885.24
United Arab Emirates,0.00,889.24,0.00,0.000,0.00,0.00,0.000,0.00,1013.040,0.00,0.00,0.00
Unspecified,0.00,0.00,0.00,299.100,852.68,185.78,798.480,531.03,0.000,0.00,0.00,0.00

In [114]:
#Task 101: Create a summary showing average quantity purchased by country and quarter.
summury=rdf.pivot_table(values='Quantity',index='Country',columns='Quarter',aggfunc='mean',fill_value=0)
summury

Quarter                        1           2          3          4
Country
Australia              76.429012   83.174342  59.692935  64.518519
Austria                33.948718   10.220779   9.531469  10.122302
Bahrain                 0.000000   15.294118   0.000000   0.000000
Belgium                10.943452   10.663286  11.298419  12.336207
Brazil                  0.000000   11.125000   0.000000   0.000000
Canada                  8.800000   27.517241  13.000000   0.000000
Channel Islands        14.855856    9.330645  13.526829  11.487310
Cyprus                 15.181818    7.574468  33.000000   7.606936
Czech Republic         23.066667    0.000000   0.000000  32.500000
Denmark                28.282051   15.296000  27.683544  22.138686
EIRE                   21.909524   17.202920  23.084063  16.269929
European Community      0.000000    5.290323  11.551724   0.000000
Finland                14.523207   18.396226  14.016949  17.458716
France                 14.303571   14.226675  12.955718  12.723973
Germany                12.756511   14.125471  12.868274  13.104329
Greece                 15.092593    8.451613  10.166667   6.555556
Iceland                10.862069   16.166667  12.590909  13.337079
Israel                 17.875000    0.000000  18.489899   2.911765
Italy                   9.411765   17.727273  10.491379  10.443864
Japan                  29.900990  172.765625  57.488372  83.778761
Lebanon                 8.577778    0.000000   0.000000   0.000000
Lithuania               0.000000    0.000000   0.000000  18.628571
Malta                   0.000000    8.933333   6.945455  15.500000
Netherlands            85.060956   73.619893  88.712406  91.773071
Norway                  8.200000   12.102410  17.917683  21.034417
Poland                 12.048387   10.263636   9.202532  13.683544
Portugal               14.802768    8.229268  16.475490   8.895288
RSA                     0.000000    0.000000   0.000000   6.068966
Saudi Arabia            8.888889    0.000000   0.000000   0.000000
Singapore              19.482143   24.368421  28.800000  17.676471
Spain                  10.692194   10.363874  11.471810  12.000000
Sweden                108.074074   40.306818  88.363636  80.786667
Switzerland            15.943574   19.960674  15.158974  15.503436
UK                     12.814696   12.083917  12.982694  11.168820
USA                     0.000000    6.227273   0.000000  14.783439
United Arab Emirates   16.533333    0.000000  12.789474   0.000000
Unspecified             0.000000   14.083333   4.505814   0.000000

In [115]:
#Task 102: Create a table showing the count of transactions in each RevenueCategory by Country.
table=rdf.pivot_table(values='TotalPrice',index='Country',columns='RevenueCategory',aggfunc='count',fill_value=0)
table

RevenueCategory            High     Low  Medium
Country
Australia               2   445      85     653
Austria                12    13      37     336
Bahrain                 0     1       0      16
Belgium                27    16     209    1779
Brazil                  0     1       0      31
Canada                  3     2      19     127
Channel Islands         0    22      21     705
Cyprus                  3    14     150     447
Czech Republic          0     0       0      25
Denmark                 4    43      28     305
EIRE                   24   458     799    5957
European Community      0     0       1      59
Finland                 3    42      66     574
France                 98   165    1299    6780
Germany               100   246    1164    7532
Greece                  2    12      17     114
Iceland                 0     3      13     166
Israel                  5    14      55     174
Italy                   2     8      44     704
Japan                   1   126      58     136
Lebanon                 0     3       0      42
Lithuania               0     1       0      34
Malta                   4     2      12      94
Netherlands             4  1132     202    1025
Norway                  7    43      60     962
Poland                  1     2      25     302
Portugal                3    23     361    1075
RSA                     2     0       4      52
Saudi Arabia            0     0       1       8
Singapore               0    16      13     193
Spain                  10    73     643    1759
Sweden                  0   136      28     287
Switzerland            10    95     149    1588
UK                    892  8499  169006  175948
USA                     4     0      22     153
United Arab Emirates    1     1       7      59
Unspecified             0     0     129     115

**PART O: Data Transformation**

In [116]:
#Task 103: Add a column to each row showing what percentage of the monthly total revenue that transaction represents.
rdf['MonthlyTotal']=rdf.groupby(['Year','Month'])['TotalPrice'].transform('sum')
rdf['PercentOfMonth']=rdf['TotalPrice']/rdf['MonthlyTotal']*100
rdf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod,YearMonth,DayDiff,MonthlyTotal,PercentOfMonth
345074,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,...,10,Tuesday,4,High,Large,18,2011-11,NaN,1161817.380,0.147906
214804,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,...,8,Thursday,3,High,Large,25,2011-08,-90.0,645343.900,0.195245
69490,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,...,10,Thursday,1,High,Large,29,2011-03,-168.0,595500.760,0.180352
214874,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,...,8,Thursday,3,High,Large,28,2011-08,167.0,645343.900,0.160999
28084,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,...,11,Thursday,1,High,Large,33,2011-01,-224.0,569445.040,0.179122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197139,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,...,16,Thursday,3,Low,Small,31,2011-07,0.0,600091.011,0.000138
197018,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,...,16,Thursday,3,Low,Small,35,2011-07,-1.0,600091.011,0.000125
197083,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,...,16,Thursday,3,Low,Small,29,2011-07,0.0,600091.011,0.000065
197134,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,...,16,Thursday,3,Low,Small,29,2011-07,0.0,600091.011,0.000065
197108,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,...,16,Thursday,3,Low,Small,33,2011-07,0.0,600091.011,0.000032

In [117]:
#Task 104: Add a column showing each customer's ranking based on their total spending.
cust_spend = rdf.groupby('CustomerID')['TotalPrice'].sum()
cust_rank=cust_spend.rank(ascending=False)
result=pd.DataFrame({'TotalSpending':cust_spend,'Rank':cust_rank})
result.sort_values('Rank')

            TotalSpending    Rank
CustomerID
14646           280206.02     1.0
18102           259657.30     2.0
17450           194550.79     3.0
16446           168472.50     4.0
14911           143825.06     5.0
...                   ...     ...
17956               12.75  4335.0
16454                6.90  4336.0
14792                6.20  4337.0
16738                3.75  4338.0
13256                0.00  4339.0

[4339 rows x 2 columns]

In [118]:
#Task 105: Add a column showing the cumulative revenue over time.
rdf.sort_values('InvoiceDate')
rdf['CumulativeRevenue']=rdf['TotalPrice'].cumsum()
rdf['CumulativeRevenue']=rdf['CumulativeRevenue'].astype(int)
rdf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod,YearMonth,DayDiff,MonthlyTotal,PercentOfMonth,CumulativeRevenue
345074,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,...,Tuesday,4,High,Large,18,2011-11,NaN,1161817.380,0.147906,1718
214804,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,...,Thursday,3,High,Large,25,2011-08,-90.0,645343.900,0.195245,2978
69490,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,...,Thursday,1,High,Large,29,2011-03,-168.0,595500.760,0.180352,4052
214874,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,...,Thursday,3,High,Large,28,2011-08,167.0,645343.900,0.160999,5091
28084,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,...,Thursday,1,High,Large,33,2011-01,-224.0,569445.040,0.179122,6111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197139,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,...,Thursday,3,Low,Small,31,2011-07,0.0,600091.011,0.000138,8911406
197018,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,...,Thursday,3,Low,Small,35,2011-07,-1.0,600091.011,0.000125,8911406
197083,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,...,Thursday,3,Low,Small,29,2011-07,0.0,600091.011,0.000065,8911407
197134,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,...,Thursday,3,Low,Small,29,2011-07,0.0,600091.011,0.000065,8911407
197108,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,...,Thursday,3,Low,Small,33,2011-07,0.0,600091.011,0.000032,8911407

**PART P: Combining Analysis**

In [119]:
#Task 106: Split the dataset into two parts: 2010 data and 2011 data. Then combine them back together vertically
data_2010 = rdf[rdf['Year']==2010]
data_2011 = rdf[rdf['Year']==2011]
comb_data=pd.concat([data_2010,data_2011],ignore_index=True)
comb_data

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,DayOfWeek,Quarter,RevenueCategory,OrderSize,len_prod,YearMonth,DayDiff,MonthlyTotal,PercentOfMonth,CumulativeRevenue
0,539419,79067,CORONA MEXICAN TRAY,50,2010-12-17 14:10:00,2.95,12431,Australia,147.50,2010,...,Friday,4,High,Large,19,2010-12,-73.0,572713.890,0.025755,96864
1,537676,22926,IVORY GIANT GARDEN THERMOMETER,12,2010-12-08 09:53:00,5.95,12386,Australia,71.40,2010,...,Wednesday,4,Medium,Medium,30,2010-12,-30.0,572713.890,0.012467,118984
2,539419,48138,DOORMAT UNION FLAG,10,2010-12-17 14:10:00,6.75,12431,Australia,67.50,2010,...,Friday,4,Medium,Medium,18,2010-12,-221.0,572713.890,0.011786,123407
3,539419,48138,DOORMAT UNION FLAG,10,2010-12-17 14:10:00,6.75,12431,Australia,67.50,2010,...,Friday,4,Medium,Medium,18,2010-12,0.0,572713.890,0.011786,123474
4,536389,22941,CHRISTMAS LIGHTS 10 REINDEER,6,2010-12-01 10:03:00,8.50,12431,Australia,51.00,2010,...,Wednesday,4,Medium,Medium,28,2010-12,-236.0,572713.890,0.008905,127202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,...,Thursday,3,Low,Small,31,2011-07,0.0,600091.011,0.000138,8911406
397920,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,...,Thursday,3,Low,Small,35,2011-07,-1.0,600091.011,0.000125,8911406
397921,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,...,Thursday,3,Low,Small,29,2011-07,0.0,600091.011,0.000065,8911407
397922,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,...,Thursday,3,Low,Small,29,2011-07,0.0,600091.011,0.000065,8911407
397923,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,...,Thursday,3,Low,Small,33,2011-07,0.0,600091.011,0.000032,8911407

In [120]:
#Task 107: Create separate datasets for UK and non-UK transactions. Combine them back horizontally with appropriate labeling.
uk_data=rdf[rdf['Country']=='UK']
non_uk=rdf[rdf['Country']!='UK']
uk_data['label']='UK'
non_uk['label']='Non-UK'
combh=pd.concat([uk_data,non_uk],axis=1)
combh

/tmp/ipython-input-2213248067.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uk_data['label']='UK'
/tmp/ipython-input-2213248067.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_uk['label']='Non-UK'

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Quarter,RevenueCategory,OrderSize,len_prod,YearMonth,DayDiff,MonthlyTotal,PercentOfMonth,CumulativeRevenue,label
397451,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995.0,2011-12-09 09:15:00,2.08,16446.0,UK,168469.60,2011.0,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
37126,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215.0,2011-01-18 10:01:00,1.04,12346.0,UK,77183.60,2011.0,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
155418,556444,22502,PICNIC BASKET WICKER 60 PIECES,60.0,2011-06-10 15:28:00,649.50,15098.0,UK,38970.00,2011.0,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
118352,551697,POST,POSTAGE,1.0,2011-05-03 13:46:00,8142.75,16029.0,UK,8142.75,2011.0,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
248706,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412.0,2011-09-20 11:05:00,5.06,17450.0,UK,7144.72,2011.0,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197139,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,3.0,Low,Small,31.0,2011-07,0.0,600091.011,0.000138,8911406.0,Non-UK
197018,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,3.0,Low,Small,35.0,2011-07,-1.0,600091.011,0.000125,8911406.0,Non-UK
197083,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,3.0,Low,Small,29.0,2011-07,0.0,600091.011,0.000065,8911407.0,Non-UK
197134,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,3.0,Low,Small,29.0,2011-07,0.0,600091.011,0.000065,8911407.0,Non-UK
197108,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,3.0,Low,Small,33.0,2011-07,0.0,600091.011,0.000032,8911407.0,Non-UK

**PART Q: External Data Integration**

In [121]:
#Task 108: Create a new dataset with customer information (make up data):
#CustomerID, CustomerName, MembershipLevel (Bronze/Silver/Gold), JoinDate
customer_data = pd.DataFrame({
    'CustomerID': [10101, 10202, 10303, 10404, 10505],
    'CustomerName': ['Alice Brown', 'John Smith', 'Priya Kumar', 'David Lee', 'Sara Johnson'],
    'MembershipLevel': ['Gold', 'Silver', 'Bronze', 'Gold', 'Silver'],
    'JoinDate': ['2020-03-01', '2019-07-15', '2021-01-10', '2018-11-25', '2020-06-30']
})

customer_data

   CustomerID  CustomerName MembershipLevel    JoinDate
0       10101   Alice Brown            Gold  2020-03-01
1       10202    John Smith          Silver  2019-07-15
2       10303   Priya Kumar          Bronze  2021-01-10
3       10404     David Lee            Gold  2018-11-25
4       10505  Sara Johnson          Silver  2020-06-30

In [122]:
#Task 109: Combine this customer dataset with your sales data to show customer names and membership levels in transactions.
merged_df = rdf.merge(customer_data, on='CustomerID', how='left')
merged_df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,OrderSize,len_prod,YearMonth,DayDiff,MonthlyTotal,PercentOfMonth,CumulativeRevenue,CustomerName,MembershipLevel,JoinDate
0,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,...,Large,18,2011-11,NaN,1161817.380,0.147906,1718,NaN,NaN,NaN
1,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,...,Large,25,2011-08,-90.0,645343.900,0.195245,2978,NaN,NaN,NaN
2,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,...,Large,29,2011-03,-168.0,595500.760,0.180352,4052,NaN,NaN,NaN
3,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,...,Large,28,2011-08,167.0,645343.900,0.160999,5091,NaN,NaN,NaN
4,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,...,Large,33,2011-01,-224.0,569445.040,0.179122,6111,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,...,Small,31,2011-07,0.0,600091.011,0.000138,8911406,NaN,NaN,NaN
397920,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,...,Small,35,2011-07,-1.0,600091.011,0.000125,8911406,NaN,NaN,NaN
397921,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,...,Small,29,2011-07,0.0,600091.011,0.000065,8911407,NaN,NaN,NaN
397922,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,...,Small,29,2011-07,0.0,600091.011,0.000065,8911407,NaN,NaN,NaN
397923,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,...,Small,33,2011-07,0.0,600091.011,0.000032,8911407,NaN,NaN,NaN

In [123]:
#Task 110: Create a product categories dataset (make up data):
#StockCode, Category (e.g., Home, Kitchen, Gift, etc.)
product_categories = pd.DataFrame({
    'StockCode': ['10001', '10002', '10003', '10004', '10005'],
    'Category': ['Home', 'Kitchen', 'Gift', 'Kids', 'Decor']
})

product_categories

  StockCode Category
0     10001     Home
1     10002  Kitchen
2     10003     Gift
3     10004     Kids
4     10005    Decor

In [124]:
#Task 111: Combine the sales data with product categories to analyze which categories generate the most revenue.
merged_prod = rdf.merge(product_categories, on='StockCode', how='left')
category_revenue = merged_prod.groupby('Category')['TotalPrice'].sum()
category_revenue.sort_values(ascending=False)

Category
Kitchen    699.55
Name: TotalPrice, dtype: float64

In [125]:
#Task 112: Perform an analysis that shows total revenue by MembershipLevel.
rev_by_level = merged_df.groupby('MembershipLevel')['TotalPrice'].sum().reset_index()
rev_by_level.columns = ['MembershipLevel', 'TotalRevenue']
rev_by_level

Empty DataFrame
Columns: [MembershipLevel, TotalRevenue]
Index: []

In [126]:
#Task 113: Show which product categories are most popular in each country.
popularity = merged_prod.groupby(['Country', 'Category'])['Quantity'].sum()
most_popular = popularity.groupby(level=0).idxmax()
most_popular

Country
EIRE                  (EIRE, Kitchen)
France              (France, Kitchen)
Germany            (Germany, Kitchen)
Japan                (Japan, Kitchen)
Spain                (Spain, Kitchen)
Switzerland    (Switzerland, Kitchen)
UK                      (UK, Kitchen)
Name: Quantity, dtype: object

**PART R: NumPy Operations**

In [127]:
#Task 114: Extract Quantity and UnitPrice as arrays and perform element-wise multiplication.
qty = rdf['Quantity'].to_numpy()
price = rdf['UnitPrice'].to_numpy()

result = qty * price
result

array([1.7184e+03, 1.2600e+03, 1.0740e+03, ..., 3.9000e-01, 3.9000e-01,
       1.9000e-01])

In [128]:
#Task 115: Create an array of 1000 random transaction IDs.
transaction_ids = np.random.randint(500000, 600000, size=1000)
transaction_ids

array([596971, 530821, 542835, 547581, 529872, 560041, 594344, 513404,
       585391, 509405, 559623, 599585, 559544, 548361, 594630, 573085,
       577057, 581910, 592867, 589475, 537263, 524513, 545634, 535152,
       599062, 569275, 576032, 515231, 547537, 581979, 583332, 599710,
       564902, 584495, 536054, 533483, 529876, 563550, 578129, 506585,
       500301, 503841, 587046, 579514, 573476, 533403, 551134, 585981,
       582074, 546062, 535113, 595172, 546111, 523952, 568804, 502632,
       584962, 598011, 585144, 549887, 598926, 523930, 543819, 597942,
       572374, 525745, 503100, 503966, 523399, 559223, 558744, 585841,
       533698, 533264, 554573, 575433, 551758, 590169, 543214, 554120,
       503693, 508608, 586952, 550030, 513668, 558417, 572790, 593509,
       505638, 597423, 504862, 558443, 579167, 516141, 533239, 534328,
       509585, 558159, 539035, 519868, 580599, 546381, 587549, 572253,
       560398, 584145, 531023, 536787, 515032, 525974, 577571, 598940,
       555891, 547875, 546603, 588538, 592831, 549591, 549943, 526508,
       597413, 573787, 588050, 567739, 533146, 528918, 599573, 536174,
       538792, 592385, 538019, 554982, 520855, 592260, 550118, 564811,
       590256, 535372, 596229, 557859, 533873, 541347, 552159, 525008,
       533143, 531388, 571563, 527220, 532821, 578744, 510797, 530126,
       525830, 562715, 560889, 513746, 517821, 563512, 591786, 556762,
       543440, 543260, 552300, 589782, 515446, 576123, 595333, 557282,
       579723, 555528, 500215, 583331, 521965, 579104, 578716, 516580,
       519345, 535725, 508033, 564070, 568241, 575137, 537688, 583040,
       572571, 570200, 559788, 547744, 594300, 592317, 505724, 520699,
       536435, 551626, 572493, 594935, 593026, 581614, 548542, 574326,
       592459, 501086, 520296, 562754, 510576, 530141, 546452, 570910,
       582780, 551790, 575928, 563282, 531210, 503442, 545054, 540044,
       553830, 531499, 536231, 549408, 516228, 530137, 502889, 515779,
       506570, 579066, 562286, 518067, 592098, 597099, 529441, 500222,
       514044, 591369, 587826, 575296, 589034, 540452, 584902, 558250,
       554846, 546478, 581914, 556879, 557227, 565836, 585216, 570602,
       578851, 541341, 508473, 556479, 511370, 527022, 586285, 524949,
       560501, 586275, 585947, 566397, 526393, 567855, 502628, 506205,
       538844, 594508, 536553, 586189, 516654, 517739, 528037, 516702,
       575346, 525837, 557968, 521746, 548889, 520009, 557552, 517208,
       546450, 586455, 564862, 514538, 518041, 553907, 531155, 510446,
       597760, 541634, 534820, 571537, 520020, 540344, 540321, 580641,
       540791, 587381, 533897, 522543, 511905, 586214, 537599, 507287,
       592466, 568688, 512444, 534462, 521221, 541775, 564634, 599289,
       558005, 527419, 586631, 590520, 572927, 501824, 592581, 554191,
       542073, 541987, 588266, 560713, 502360, 591324, 549364, 544357,
       526243, 556964, 576017, 564588, 571317, 527874, 557563, 585345,
       568919, 506713, 548624, 513508, 519064, 516197, 539447, 564444,
       569382, 523126, 545020, 565528, 531170, 523403, 594354, 555189,
       539566, 584043, 567666, 556713, 576677, 533480, 549309, 568636,
       541891, 504102, 562080, 591438, 517623, 598858, 504745, 542473,
       524321, 576920, 548915, 563177, 594932, 578791, 551762, 510605,
       564122, 515383, 514760, 570838, 520914, 589535, 575455, 557358,
       544559, 535384, 583084, 556814, 559377, 531092, 503107, 574360,
       520441, 516695, 520962, 571203, 501780, 573874, 560261, 538088,
       538100, 556778, 519772, 518027, 593499, 570618, 520869, 571669,
       565712, 566011, 588208, 543111, 556566, 536073, 527745, 555671,
       506936, 534818, 526195, 540064, 541849, 505098, 578703, 517822,
       522524, 505125, 524294, 529340, 560680, 578187, 516031, 526151,
       585266, 506375, 557528, 525808, 526563, 598100, 586908, 521599,
       570262, 576098, 570201, 558959, 596553, 573327, 538613, 503912,
       587721, 566458, 598216, 552644, 514383, 554121, 552633, 509638,
       503045, 556354, 515116, 572068, 517093, 599619, 505387, 580894,
       503526, 502233, 579566, 549661, 534135, 553585, 560008, 588805,
       531879, 555712, 584097, 581440, 507488, 547681, 508848, 568736,
       571148, 534162, 547640, 589244, 519139, 565686, 582605, 577719,
       566844, 505377, 527555, 586289, 572233, 514189, 555999, 536787,
       550183, 549817, 560374, 574873, 587835, 518301, 593608, 515199,
       586541, 518839, 570631, 518131, 543113, 578044, 590180, 599062,
       544098, 543699, 569943, 561817, 589163, 576369, 545118, 588602,
       584585, 518616, 525279, 584730, 579671, 527762, 526291, 544376,
       558823, 546575, 545097, 563388, 565762, 530656, 586664, 579788,
       537201, 584312, 516736, 580509, 521952, 510713, 579337, 534451,
       566656, 578269, 533713, 514912, 557052, 526122, 506063, 593511,
       529374, 519853, 504129, 532003, 523923, 517000, 541045, 594676,
       578152, 563682, 511808, 532397, 508532, 522615, 545095, 528406,
       536135, 591175, 578810, 557582, 546684, 555934, 597087, 561614,
       563628, 589741, 510739, 509602, 569167, 538302, 598495, 577916,
       560947, 503440, 505283, 592672, 525011, 533516, 524740, 567754,
       543903, 581883, 596703, 539759, 523367, 599461, 508661, 558402,
       534016, 546922, 584120, 511623, 566029, 554918, 529305, 582307,
       568491, 546966, 585024, 531861, 588761, 530241, 531061, 533338,
       528033, 507342, 538851, 560592, 536775, 501837, 595542, 536349,
       562389, 564789, 507786, 502686, 552203, 543758, 508428, 536855,
       501361, 512452, 540089, 576237, 519405, 502523, 583701, 561412,
       587461, 520496, 526554, 547081, 577391, 542737, 597175, 584447,
       522899, 556617, 552875, 539913, 502253, 570725, 584055, 567418,
       590761, 543717, 541098, 592464, 553017, 576266, 510274, 550739,
       582561, 543364, 532783, 526344, 580138, 555605, 545111, 588818,
       546885, 530344, 560522, 590656, 551104, 514799, 575946, 595389,
       589642, 564534, 596331, 523735, 566052, 530551, 597223, 547612,
       533177, 510583, 571965, 593169, 584290, 572861, 552788, 500280,
       519827, 584403, 567985, 515447, 588139, 533678, 516645, 514623,
       564506, 525888, 523149, 544932, 580173, 595294, 512312, 540924,
       501590, 508167, 558205, 502432, 582906, 522136, 518909, 510998,
       592170, 505555, 554379, 587807, 558714, 568440, 569403, 567320,
       592106, 577762, 557712, 505083, 503498, 505868, 586273, 569707,
       525675, 599136, 512176, 563815, 506596, 535921, 550273, 557355,
       583018, 541844, 504125, 513505, 514504, 540568, 564771, 532452,
       595245, 579260, 577700, 549284, 554994, 513629, 529067, 553507,
       522334, 519162, 555160, 576745, 518538, 559830, 501103, 500882,
       564247, 525076, 514150, 579304, 535085, 509115, 565425, 548364,
       525896, 577775, 596981, 514859, 598883, 544630, 563961, 561054,
       575089, 596586, 551802, 520143, 525282, 543382, 522487, 548022,
       580579, 519025, 578888, 520649, 554313, 543516, 586159, 545680,
       565795, 597662, 556760, 520876, 530977, 519252, 578776, 575328,
       509073, 594598, 541911, 546857, 579382, 503576, 560174, 545950,
       531693, 544035, 506607, 580704, 548371, 501909, 545515, 567730,
       503163, 598071, 509048, 510587, 547813, 526086, 598373, 543850,
       512446, 598729, 547196, 536323, 510166, 592157, 550713, 527524,
       537478, 529626, 565487, 538900, 594072, 592123, 515341, 550031,
       512837, 533870, 560963, 548915, 531727, 599328, 562047, 511481,
       580869, 537005, 536839, 579937, 579738, 522063, 549191, 511793,
       548524, 513084, 540206, 553362, 594862, 547516, 594993, 520654,
       532796, 500727, 563793, 579621, 518112, 523734, 534984, 532593,
       590100, 507210, 515913, 532186, 510674, 525835, 545664, 526713,
       519187, 506580, 556852, 543589, 596515, 558271, 573813, 516800,
       559920, 531284, 545646, 515526, 566513, 544488, 526933, 535050,
       590536, 566213, 568865, 537304, 549101, 520334, 528664, 578329,
       598097, 558590, 579752, 570930, 524979, 504552, 530501, 578570,
       553999, 581268, 508475, 533080, 592386, 576163, 515814, 561681,
       586247, 539530, 511951, 542850, 567858, 585460, 542627, 502952,
       563789, 528853, 547067, 534432, 560687, 509901, 556116, 588967,
       573652, 534836, 521355, 524388, 583464, 550624, 544929, 588599,
       503392, 576591, 560233, 520454, 559751, 567482, 514332, 592780,
       516185, 592897, 536605, 581080, 558780, 572421, 549659, 583252,
       516753, 572352, 572185, 541073, 559911, 570270, 515631, 575188,
       598203, 519951, 580619, 538339, 544701, 582938, 519347, 514900,
       554162, 578302, 584465, 532385, 539049, 531790, 501637, 503719,
       521664, 525255, 523927, 510634, 598996, 587283, 570919, 520722])

In [129]:
#Task 116: Generate 50 equally spaced price points between Â£0 and Â£500.
np.linspace(0, 500, 50)
np.round(np.linspace(0, 500, 50), 2)

array([  0.  ,  10.2 ,  20.41,  30.61,  40.82,  51.02,  61.22,  71.43,
        81.63,  91.84, 102.04, 112.24, 122.45, 132.65, 142.86, 153.06,
       163.27, 173.47, 183.67, 193.88, 204.08, 214.29, 224.49, 234.69,
       244.9 , 255.1 , 265.31, 275.51, 285.71, 295.92, 306.12, 316.33,
       326.53, 336.73, 346.94, 357.14, 367.35, 377.55, 387.76, 397.96,
       408.16, 418.37, 428.57, 438.78, 448.98, 459.18, 469.39, 479.59,
       489.8 , 500.  ])

In [130]:
#Task 117: Create a matrix representing 12 months and 7 product categories filled with zeros.
matrix = np.zeros((12, 7),dtype=int)
matrix

array([[0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0]])

In [131]:
#Task 118: Extract quantities greater than 100 from the Quantity array.
high_qty = qty[qty > 100]
high_qty

array([  960,   336,   120, ...,   200,   200, 12540])

In [132]:
#Task 119: Calculate the square root of all UnitPrice values.
unit_price = rdf['UnitPrice'].to_numpy()
sqrt_price = np.sqrt(unit_price)
sqrt_price

array([1.33790882, 1.93649167, 2.99165506, ..., 0.6244998 , 0.6244998 ,
       0.43588989])

In [133]:
#Task 120: Find the 25th, 50th, and 75th percentiles of TotalPrice.
tp = rdf['TotalPrice'].to_numpy()
p25 = np.percentile(tp, 25)
p50 = np.percentile(tp, 50)
p75 = np.percentile(tp, 75)
p25, p50, p75

(np.float64(4.68), np.float64(11.8), np.float64(19.799999999999997))

In [134]:
#Task 121: Round all UnitPrice values to the nearest integer.
rdf['UnitPrice'] = rdf['UnitPrice'].round()
rdf['UnitPrice']

345074     2.0
214804     4.0
69490      9.0
214874    10.0
28084      4.0
          ...
197139     1.0
197018     1.0
197083     0.0
197134     0.0
197108     0.0
Name: UnitPrice, Length: 397924, dtype: float64

In [135]:
#Task 122: Find positions where Quantity is maximum.
max_qty = rdf['Quantity'].max()
positions = rdf[rdf['Quantity'] == max_qty].index
positions

Index([397451], dtype='int64')

In [136]:
#Task 123: Calculate the correlation between Quantity and UnitPrice.
rdf['Quantity'].corr(rdf['UnitPrice'])

np.float64(-0.004666965941751731)

In [137]:
#Task 124: Normalize the TotalPrice column (subtract mean, divide by standard deviation).
mean_tp = rdf['TotalPrice'].mean()
std_tp = rdf['TotalPrice'].std()
rdf['TotalPrice_Normalized'] = (rdf['TotalPrice'] - mean_tp) / std_tp
rdf['TotalPrice_Normalized']

345074    5.487703
214804    4.004475
69490     3.402641
214874    3.289393
28084     3.227915
            ...
197139   -0.069776
197018   -0.070035
197083   -0.071200
197134   -0.071200
197108   -0.071847
Name: TotalPrice_Normalized, Length: 397924, dtype: float64

In [138]:
#Task 125: Split the Quantity array into 4 equal parts.
qty = rdf['Quantity'].to_numpy()
qty_parts = np.array_split(qty, 4)
qty_parts

[array([960, 336, 120, ...,   8,   8,   8]),
 array([8, 8, 8, ..., 1, 1, 1]),
 array([15,  1,  3, ...,  3,  3,  3]),
 array([3, 3, 3, ..., 1, 1, 1])]

**PART S: Export and Documentation**

In [139]:
#Task 126: Save your cleaned dataset to a CSV file.
rdf.to_csv('final_cleaned_dataset.csv', index=False)

In [140]:
#Task 127: Save your cleaned dataset to an Excel file.
rdf.to_excel('cleaned_retail_data.xlsx', index=False)

In [141]:
#Task 128: Create an Excel file with multiple sheets:
#Sheet 1: Full cleaned data
#Sheet 2: Country-wise summary
#Sheet 3: Monthly revenue trends
#Sheet 4: Top 50 customers
country_summary = rdf.groupby('Country')['TotalPrice'].sum().reset_index()

In [142]:
#Task 129: Export the pivot table from Task 100 to Excel.
table.to_excel('country_month_pivot.xlsx', index=True)

In [143]:
#Task 130: Create a text file documenting all the insights you discovered from this analysis.
insights = """
 Insights Summary

1. Data Cleaning:
- Removed missing CustomerID, duplicates, cancelled invoices.
- Cleaned text columns and converted dates.

2. Revenue Insights:
- Total revenue calculated.
- Monthly, hourly, and yearly trends identified.
- Cumulative revenue created.

3. Customer Insights:
- Total spending, average order value.
- High-value customers identified.
- Customer ranking created.

4. Product Insights:
- Most sold products.
- Total revenue per product.
- Category-wise analysis.

5. Country Insights:
- Country-wise revenue.
- Monthly country trend pivot table.

6. Time Insights:
- 2010 vs 2011 comparison.
- Weekend sales analysis.
"""

with open("analysis_insights.txt", "w") as f:
    f.write(insights)

print("File created!")

File created!